<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Karol Chojnowski - my thoughts on user experience, information architecture and digital media.">
  <meta name="author" content="Karol Chojnowski">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/site.css?v=1" />
  <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:800' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-icon-precomposed" href="/assets/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/apple-touch-icon-144x144.png">
  <title>{{ page.title }}</title>
</head>
<body>
<div id="container">

  <div id="nav">
    <div id="logo"><a href="/" title="Karol Chojnowski - Home">Karol Chojnowski</a></div>
    <div id="info" class="clearfix">
      <p>I'm a digital product guy with a soft&nbsp;spot for strategy and coffee.</p>
      <p>This is where I collect things.</p>
      <p>You can drop me a line at <a href="mailto:karol.chojnowski@gmail.com">karol.chojnowski@gmail.com</a> or ping me on <a href="http://www.twitter.com/karolchojnowski">Twitter</a>.</p>
    </div>
    </div>
    <div id="body">
